


// Spacing
$spacing-unit: 20px;

// Breakpoints for responsive design
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1150px;

// Container widths
$container-sm: $breakpoint-sm - $spacing-unit * 2;
$container-md: $breakpoint-md - $spacing-unit * 2;
$container-lg: $breakpoint-lg - $spacing-unit * 2;
$container-xl: $breakpoint-xl - $spacing-unit * 2;
