@import "_variables";

:root {
  --color-primary: #ff70d9;
  --color-secondary: #ebff00;
  --color-accent: #304571;
  --bar-width: 30px;
  --bar-height: 2px;
  --hamburger-gap: 5px;
  --foreground: #fff;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li {
  margin: 0;
  line-height: 1;
}

html {
  font-size: 14px;
}

body {
  line-height: 1.3;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2rem;
}

.hero-title {
  font-size: 4.5vw;
}

.hero-title {
  font-size: clamp(1.5rem, 4.5vw, 3rem);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 $spacing-unit;

  @media (min-width: $breakpoint-sm) {
    max-width: $container-sm;
  }

  @media (min-width: $breakpoint-md) {
    max-width: $container-md;
  }

  @media (min-width: $breakpoint-lg) {
    max-width: $container-lg;
  }

  @media (min-width: $breakpoint-xl) {
    max-width: $container-xl;
  }
}

@media (min-width: $breakpoint-md) {
  html {
    font-size: 16px;
  }
}

@media (min-width: $breakpoint-lg) {
  html {
    font-size: 20px;
  }
}
